<!DOCTYPE html>
<!-- Además del namespace de Thymeleaf, se agrega el específico de security. -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- Para crear contenido reutilizable en otras páginas, se debe envolver
        en una etiqueta html que contenga el atributo "fragment" de Thymeleaf, e
        indicar un nombre para dicho fragmento. -->
        <header th:fragment="cabecera">
            <!-- Para recuperar un literal o mensaje del fichero de propiedades, y
            usarlo como valor de una etiqueta, se usa el atributo "text" de thymeleaf
            y se referencia al nombre de la propiedad con la sintaxis "#{nombre_prop}" -->
            <h1 th:text="#{plantilla.titulo}"></h1>
        </header>

        <footer th:fragment="pie">
            <br/>
            <div>
                <!-- Se añaden los enlaces a los path definidos en el controlador
                "WebConfig", que ejecutarán automáticamente la sustitución de todos
                los valores de las propiedades de "messages", por las del idioma
                indicado. -->
                <a th:href="@{/(lang=es)}">ES</a> | 
                <a th:href="@{/(lang=en)}">EN</a> | 
                
                <!-- Para recuperar un literal o mensaje del fichero de propiedades, y
                usarlo como texto plano, se usa la sintaxis de doble corchete de thymeleaf
                y se referencia al nombre de la propiedad "[[nombre_prop]]" -->
                <span>[[#{plantilla.pie-pagina}]]<a href="http://www.globalmentoring.com.mx">Universidad Java</a></span>
                <br/>
                <br/>
                <form method="POST" th:action="@{/logout}" >
                    <!-- Mostramos el usuario que hace login con sus roles, haciendo uso
                    de las propiedades de Thymeleaf security. -->
                    <b>User: </b><span sec:authentication="name"></span> | 
                    <b>Roles: </b><span sec:authentication="principal.authorities"></span>
                    <br/>
                    <a href="#" onclick="this.parentNode.submit();">Logout</a>
                </form>
                <br/>
            </div>
        </footer>
    </body>
</html>
