<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Insertar Persona</h1>
        <br/>
        <!-- Al crear un formulario con thymeleaf se debe indicar el path del
        action con la sintaxis de thymeleaf y se puede informar un objeto compartido
        sobrbe el que se guardarán los datos del formulario de forma automática.
        Este objeto ("persona"), viene compartido en el alcance de "request" desde el
        el componente controlador de forma automática por Spring, al definirlo como
        parámetro del método. -->
        <form th:action="@{/guardar}" method="post" th:object="${persona}">

            <!-- Para asociar cada campo a un aributo del objeto compartido se usa la
            sintaxis "*{nom_atributo}", que automáticamente realizará la asociación. -->
            <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br/>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" th:field="*{apellido}"/>
            <br/>
            <label for="email">Email:</label>
            <input type="email" name="email" th:field="*{email}"/>
            <br/>
            <label for="telefono">Tel&eacute;fono:</label>
            <input type="tel" name="telefono" th:field="*{telefono}"/>
            <br/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
            <br/>
            <br/>
            <a th:href="@{/}">Volver</a>
        </form>
    </body>
</html>
