<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Login</h1>
        <form method="POST" th:action="@{/login}">
            <!-- En este caso es obligatorio que "name" y "id" de los atributos del
            usuario y la contraseña se llamen "username" y "password", para que la 
            funcionalidad de login de Spring lo reconozca de forma automática. -->
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" />
            <br/>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
            <br/>
            <br/>
            <input type="submit" value="Login"/>
        </form>
    </body>
</html>
